* {
    color: white;
}

.header {
    display: flex;
    margin: 0;
    padding: 20px;
    background-color: rgb(86, 86, 253);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 150px;
    text-align: right;
    align-items: center;
    justify-content: space-between;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; */
}

.headerNav {
    justify-content: space-around;
    text-decoration: none;
    text-align: right;
}

.headerLink {
    color: white;
    text-align: right;
    text-decoration: none;
    padding: 2%;
    font-weight: bold;
    white-space: nowrap;
}

.headerLink:hover {
    transition: 1%;
    color: rgb(47, 50, 53);
    background-color: white;
    border-radius: 5px;
    transform: scale(0.45rem);
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }
    
}