
.container {
    color: black;
    display: flex;
    border-radius: 10px;
    background-color: white;
    width: 60%;
    justify-self: center;
    margin: 25px;
}

.showcase {
    border-right: black 2px solid;
}

.info {
    padding: 10px;
}