.container {
    color: black;
    display: flex;
    border-radius: 10px;
    background-color: white;
    width: 60%;
    justify-self: center;
    margin: 25px;
}

.image {
    width: 450px;
}

.showcase {
    border-right: black 2px solid;
}

.info {
    padding: 10px;
}

.description {
    margin: 0;
}

.category,
.id {
    margin: 4px 0;
}