.container {
    display: flex;
    padding: 20px;
    width: fit-content;
    color: black;
}

.info {
    background-color: white;
    justify-items: space-evenly;
    margin-left: 10px;
}

button {
    color: black;
}

img {
    width: 400px;
}